# Different ways of creating DataFrames

In [7]:
import pandas as pd

In [1]:
# 1..using .csv() method

In [ ]:
pd.read_csv(".csv")

In [3]:
#2..using .xlsx() method

In [ ]:
pd.read.excel(".xlsx")

In [4]:
#3..using python dictionary

In [5]:
Data = {
    'Name' : ["Aditya" , "Kernel" , "suicide"],
    'Roll_no' : [12,23,42],
}

In [9]:
df = pd.DataFrame(Data)
df

      Name  Roll_no
0   Aditya       12
1   Kernel       23
2  suicide       42

In [10]:
#4..using Tuple lists DataFrame() method

In [11]:
Weather_data = [
    ('1/2/25' , 32 , 6 , "Rain"),
    ('1/3/25' , 39 , 5 , "Sunny"),
    ('1/4/25' , 28 , 3 , "Cloudy")
]

In [ ]:
df1 = pd.DataFrame(Weather_data , columns = ["Day" , "Temp" , "WindSpeed" ])