# reading the excel file

In [ ]:
import pandas as pd

df = pd.read_excle("Stocks_Data.xlsx" , sheet_name = 1)

# writing the excel file without index

In [2]:
df.to_excel("new.xlsx" , sheet_name = "stocks" , index = False)

# writing the excel file...leaving the some rows and columns

In [3]:
df.to_excel("new.xlsx" , sheet_name = "stocks"  , startrow = 1 , startcol = 2, index = False)

In [4]:
df

  tickers            eps  Revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65     sam Walton
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

# first dataframe

In [3]:
weather = {
    'day' : ['1/1/25' , '1/2/25' , '2/3/25'],
    'temp' : [32,35,12],
    'event' : ['Rain' , 'Sunny' , 'Snow']
}

df_weather = pd.DataFrame(weather)

print(df_weather)

      day  temp  event
0  1/1/25    32   Rain
1  1/2/25    35  Sunny
2  2/3/25    12   Snow

# second dataframe

In [8]:
print(df)

  tickers            eps  Revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65     sam Walton
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

# This method is used....whenever we want to create a excel file in which both the dataframes are in the same .xlsx file but in different sheets

In [9]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df.to_excel(writer, sheet_name = 'Stocks')
    df_weather.to_excel(writer, sheet_name = 'Weather')