In [1]:
import pandas as pd

def convert_people_cell(cell):
    if cell == "n.a.":
        return 'sam Walton'
    return cell


df = pd.read_excel("C:\\Users\\Vinsc\\OneDrive\\Documents\\5_pandas_.xlsx", converters = {
    'people' : convert_people_cell })

print(df)

  tickers            eps  Revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65     sam Walton
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [2]:
df.to_excel("new.xlsx" , sheet_name = "stocks" , index = False)

In [3]:
df.to_excel("new.xlsx" , sheet_name = "stocks"  , startrow = 1 , startcol = 2, index = False)

In [4]:
df

  tickers            eps  Revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65     sam Walton
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [5]:
weather = {
    'day' : ['1/1/25' , '1/2/25' , '2/3/25'],
    'temp' : [32,35,12],
    'event' : ['Rain' , 'Sunny' , 'Snow']
}

In [6]:
df_weather = pd.DataFrame(weather)

In [7]:
print(df_weather)

      day  temp  event
0  1/1/25    32   Rain
1  1/2/25    35  Sunny
2  2/3/25    12   Snow

In [8]:
print(df)

  tickers            eps  Revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65     sam Walton
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [9]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df.to_excel(writer, sheet_name = 'Stocks')
    df_weather.to_excel(writer, sheet_name = 'Weather')